<html>
  <head>
    <title>UBER U</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/script.js"></script>
    <script src="../js/foundatino.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="small-12 column">
        <h1>Uber U</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-6 column big-button">
        <span>hello</span>
      </div>
      <div class="small-6 column big-button">
        <span>hi</span>
      </div>
    </div>
  </body>
</html>
