<html>
  <head>
    <title>UBER U</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/script.js"></script>
    <script src="../js/foundation.min.js"></script>
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar" id="dash-bar" data-topbar="">
        <ul class="title-area">
          <li class="name">
            <h1 style="color: #ffffff; margin-left: 10px">Hitch</h1>
          </li>
        </ul>
      </nav>
    </div>

    <a href="#">
      <div class="submit-button">
        <h3>+ Submit a ride</h3>
      </div>
    </a>

    <div class="side-float-box">
      <h3>Search for a ride</h3>
      <form>
        <input type="text" placeholder="Origin">
        <input type="text" placeholder="Destination">
        <input type="text" placeholder="Date">
        <input type="text" placeholder="Time">
      </form>
    </div>

    <div class="wrapper">
      <div class="row">
        <div class="small-12 column" style="text-align: left">
          <h1>Rides</h1>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <table>
            <tbody>
              <tr>
                <td rowspan="2" style="width: 65px">
                  <div class="img-holder"></div>
                </td>
                <td style="width:120px">
                  <span style="font-size: 16px">Seo 14 2014</span>
                </td>
                <td>
                  <span style="color:green">
                    3/5 spots taken
                  </span>
                </td>
              </tr>
              <tr>
                <td style="width:80px">
                  <span style="">12:44 AM</span>
                </td>
                <td><span style="">8809 38th Avenue Baltimore MD, 20874</span> <span style="color:#999999">-></span> <span style="">Alex's butthole</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="row">
        <div class="small-12 column">
          <table>
            <tbody>
              <tr>
                <td rowspan="2" style="width: 65px">
                  <div class="img-holder"></div>
                </td>
                <td style="width:120px">
                  <span style="font-size: 16px">Sep 14 2014</span>
                </td>
                <td>
                  <span style="color:red">
                    4/4 spots taken
                  </span>
                </td>
              </tr>
              <tr>
                <td style="width:80px">
                  <span style="">9:14 PM</span>
                </td>
                <td><span style="">8809 38th Avenue Baltimore MD, 20874</span> <span style="color:#999999">-></span> <span style="">Alex's butthole</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <table>
            <tbody>
              <tr>
                <td rowspan="2" style="width: 65px">
                  <div class="img-holder"></div>
                </td>
                <td style="width:120px">
                  <span style="font-size: 16px">Sep 15 2014</span>
                </td>
                <td>
                  <span style="color:green">
                    1/6 spots taken
                  </span>
                </td>
              </tr>
              <tr>
                <td style="width:80px">
                  <span style="">7:00 AM</span>
                </td>
                <td><span style="">8809 38th Avenue Baltimore MD, 20874</span> <span style="color:#999999">-></span> <span style="">Alex's butthole</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
