<html>
  <head>
    <title>UBER U</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="../js/script.js"></script>
    <script src="../js/foundation.min.js"></script>
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar" id="dash-bar" data-topbar="">
        <ul class="title-area">
          <li class="name">
            <h1 style="color: #ffffff; margin-left: 10px">Castle</h1>
          </li>
        </ul>
      </nav>
    </div>

    <div class="side-float-box">

    </div>

    <div class="wrapper">
      <div class="row">
        <div class="small-12 column" style="text-align: left">
          <h1>Rides</h1>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <table>
            <tbody>
              <tr>
                <td rowspan="2" style="width: 65px">
                  <div class="img-holder"></div>
                </td>
                <td><span style="color: green">00:00AM</span></td>
              </tr>
              <tr>
                <td><span style="color: red">00:00PM</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <table>
            <tbody>
              <tr>
                <td rowspan="2" style="width: 65px">
                  <div class="img-holder"></div>
                </td>
                <td><span style="color: green">00:00AM</span></td>
              </tr>
              <tr>
                <td><span style="color: red">00:00PM</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      

    </div>
  </body>
</html>
