.row {
  text-align: center;
}

.column {
	background-color: #ffffff;
}

.side-float-box {
	height: 350px;
	width: 470px;
	position: fixed;
	right: 50px;
	top: 170px;
	background-color: #ffffff;
	border-width: 1px;
	border-color: #333333;
	border-style: solid;
	padding: 15px;
	z-index: 1;
}

.img-holder {
	background: #ffffff;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #333333;
	text-align: center;
	padding-top: 16px;
}

.img-holder span {
	display: block;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

a .img-holder:hover {
	animation-duration: 0.2s;
	background-color: #f3f3f3 !important;
}

body tr:nth-child(even) td, tbody tr.even td {
	background: #ffffff !important;
}

table {
	border: none !important;
}

.wrapper {
  background: #f3f3f3;
	padding-top: 40px;
	z-index: -4;
  width: 100% - 470px;
}

#submit-button {
	background-color: #0AD157;
	position: fixed;
	right: 50px;
	top: 85px;
	height: 45px;
	width: 470px;
	text-align: center;
	z-index: 1;
}

#submit-button h3 {
	color: #ffffff;
}

#submit-modal {
  width: 800px;
}

.button {
  background-color: #0AD157 !important; 
}

.button:hover {
  background-color: #008A1F !important;
  animation-duration: 0.02s;
}

.has-tip {
  bottom-border: none !important;
}
